#gallery {
    margin: 2rem 0;
    position: relative;
}
    #gallery h1 {
    text-align: center;
}
.gal-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
}
.gal-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 5px;
}
.gal-column img {
    vertical-align: middle;
    width: 100%;
  }
  .img-g-h:hover > .img-g-hv {
    animation: fade;
    animation-duration: 0.5s;
    transform: translateX(0);
  }
.img-g-h {
    position: relative;
    height: fit-content;
    margin-top: 8px;
    cursor: pointer;
    overflow: hidden;
}
.gl-god {
    position: sticky;
    z-index: 10;
    height: 100vh;
    margin: auto;
    background-color: #1a1a1a;
    color: #fff;
    width: 100vw;
    top: 0;
    bottom: 0;
}
.swiper-button-next, .swiper-button-prev {
    top: 50vh !important;
    color: #fff !important;
    font-weight: 900;
    transform: translateY(-50%);
}
.gal-img-details {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: 15%;
}
.gim-d {
    text-align: center;
    font-size: 1.5rem;
}
.gal-img-details img{
    width: 100%;
    overflow: auto;
    height:100%;
}
@keyframes fade {
    from {transform: translateX(100%);}
    to {transform: translateX(0);}
}
@keyframes fadeo {
    from {transform: translateX(0);}
    to {transform: translateX(100%);}
}
.img-g-hv {
    transform: translateX(100%);
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.543);
    color: #fff;
    height: 100%;
    width: 100%;
    animation: fadeo;
    animation-duration: 0.1s;
}
.img-g-hv p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

/* ====================Media queries medium devices=========================== */
@media screen and (max-width: 1190px) {
    .gal-column {
        flex: 50%;
        max-width: 50%;
    }
}
  