#loader-id {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
}
.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.span-loader-color {
    color: blue;
}

.loader-container h1 {
    font-size: 320%;
    color: #d3d0d0;
    font-weight: 700;
}